* {
    box-sizing: border-box;
}

td {
    border: 1px solid gray;
}

form {
    color: #0d0d29;

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            width: 100%;
            display: flex;

            span {
                max-width: 100px;
                width: 100%;
            }

            input, textarea {
                width: 100%;

            }

            input[type=checkbox], input[type=radio] {
                width: auto;
                margin-right: auto;
            }

        }
    }
}

.semantic {
    max-width: 1200px;
    min-height: 200px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 100px auto;
    gap: 10px;

    grid-template-areas: 'header header header'
    'aside main main'
    'aside main main'
    'footer footer footer';

    @media (max-width: 768px) {
        grid-template-rows: 100px auto auto 100px;
        grid-template-columns: auto;
        grid-template-areas: 'header'
                            'aside'
                            'main'
                            'footer';
    }

    ul {
        background: rgba(0, 128, 0, 0.2);
    }

    header, footer, aside, main {
        padding: 10px;
        width: 100%;
        background: rgba(128, 128, 128, 0.2);
    }

    header {
        grid-area: header;
    }

    footer {
        grid-area: footer;
    }

    main {
        grid-area: main;
    }

    aside {
        grid-area: aside;
    }

    header, footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }

    aside {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media (max-width: 768px) {
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
    }

    main {

        h1 {
            text-align: center;
        }
    }

    section {
        background: rgba(139, 0, 0, 0.2);

        h2 {
            text-align: left;
            margin-left: 20px;
        }

        figure {
            height: auto;
            min-height: 300px;

            picture, img {
                max-width: 100%;
                height: auto;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            fieldset {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
            }
        }
    }
}

section, .semantic, .flex{
    display: none !important;
}

.flex {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    gap: 10px;
    background: rgba(255, 192, 203, 0.2);
    padding: 10px;
    flex-flow: row wrap;
    height: 500px;

    .flex-item {
        background: green;
        text-align: center;
        padding: 20px;
        flex-grow: 1;
        width: 200px;
        justify-content: space-between;
        &:nth-child(3) {
            background: yellow;
        }

        &:nth-last-child(2) {
            background: red;

        }
        &:is(span){
            background: #000;
        }
    }
}

.grid{
    display: grid ;
    /*max-width: 1200px;*/
    margin-inline: auto;
    height: 500px;
    padding :10px;
    gap : 5px;
    background: rgba(132, 98, 98, 0.2);
    grid-template-columns: 200px auto 300px;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*place-items: center center;*/
    /*grid-template-rows: auto 200px auto;*/
    /*grid-auto-rows: 30px 100px;*/
    /*grid-auto-flow: column;*/
    /*grid-template-columns: 400px;*/
    /*grid-auto-columns: 100px 200px;*/


    .grid-item{
        background: rgba(0, 128, 0, 0.2);
        &.big{
        /*&:last-of-type {*/
            background: rgba(214, 168, 56, 0.2);
            /*grid-column: span 2;*/
            grid-column: -1 / 1;
            grid-row: span 2;
            /*order : -1;*/
            /*order: 1;*/
        }
    }
}

.clip-path {
    display: block !important;
    /*background: red;*/
    max-width: 900px;
    margin-inline: auto;
    perspective: 800px;

}
.clip-path img {
     width: 100%;
     height: 100%;
     display: block;
     border-radius: 4px;
    transform-origin: 0 0;
     transform: rotateY(5deg) scale(.9);
     box-shadow: 10px 10px 40px rgba(0,0,0,0.6);
     animation: tiltShadow 4s ease-in-out infinite;

    @media (hover: hover) {
        &:hover {
            opacity: 0.5;
        }

    }

 }

@keyframes tiltShadow {
    0% {
        transform: rotateY(5deg) scale(.9);
        box-shadow: 10px 10px 25px rgba(0,0,0,0.4); /* мягче, светлее */
    }
    50% {
        transform: rotateY(-5deg) scale(.9);
        box-shadow: 10px 10px 55px rgba(0,0,0,0.8); /* глубже, ярче */
    }
    100% {
        transform: rotateY(5deg) scale(.9);
        box-shadow: 10px 10px 25px rgba(0,0,0,0.4);
    }
}